* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #fcfbfb;
  color: #111;
}

/* HEADER */
.header {
  display: flex;
  padding: 20px 48px;
  justify-content: space-between;
  font-size: large;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.hooodTxt {
  width: 4rem;
  height: 1.5rem;
  object-fit: fill;
  margin-top: 0.5rem;
}

.nav {
  display: flex;
  margin: 0px 20rem;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.head-links {
  display: flex;
  list-style: none;
  font-weight: 500;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  letter-spacing: 2px;
}

.login {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: rgb(24, 184, 24);
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 0.5rem;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.hero-text {
  text-align: start;
  width: 50vw;
  margin-top: 2rem;
  padding: 30px;
  padding-right: 70px;
}

.badge {
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 1.5rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
  background-color: rgb(191, 240, 191);
}

.boldText {
  font-size: 4rem;
  font-weight: bolder;
}

.boldGreen {
  color: rgb(24, 184, 24);
  font-size: 5rem;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  line-height: 1.5;
  color: #7f7e7e;
  margin-bottom: 28px;
}

.btns {
  display: flex;
  gap: 1.5rem;
}

.cta {
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;

}

.colorG {
  background: rgb(24, 184, 24);
  color: white;
  padding: 20px 50px;
}

.colorW {
  color: rgb(24, 184, 24);
  border: rgb(24, 184, 24), solid, 2px;
}

.hero-img {
  width: 25rem;
  height: 35rem;
  align-items: end;
}

.Cards {
  padding: 60px;
  text-align: center;
}

.cardset {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background: #f5f5f5;
  width: 250px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}